{% extends "library/layout.html" %}

{% block title %}Autoři{% endblock title %}

{% block content %}

{% if user.is_staff %}
<a href="{% url 'library:author_create' %}">Vytvořit autora</a>  
{% endif %}

<table>
    <tr>
        <th>Křestní jméno</th>
        <th>Příjmení</th>
        <th>Datum narození</th>
    </tr>
    {% for author in author_list %}
    <tr>
        <td>{{author.first_name}}</td>
        <td>{{author.last_name}}</td>
        <td>{{author.birth_date}}</td>
        <td><a href="{% url 'library:author_detail' author.id %}">Detail autora</a></td>
        {% if user.is_staff %}
        <td><a href="{% url 'library:author_update' author.id %}">Editovat</a></td>
        <td><a href="{% url 'library:author_delete' author.id %}">Smazat</a></td>  
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% include "library/pagination_template.html" with objects=author_list %}
{% endblock content %}