{% extends "library/layout.html" %}

{% block title %}
{{ author.last_name }}
{% endblock title %}

{% block content %}
<img src="{{author.author_pic.url}}" height="200" width="200">
<h2>Křestní jméno:</h2> <p>{{author.first_name}}</p>
<h2>Příjmení:</h2> <p>{{author.last_name}}</p>
<h2>Datum narození:</h2> <p>{{author.birth_date}}</p>
{% endblock content %}