{% extends "library/layout.html" %}

{% block title %}Knihy{% endblock title %}

{% block content %}
{% if user.is_staff %}
<a href="{% url 'library:book_create' %}">Vytvořit knihu</a>  
{% endif %}
<table>
    <tr>
        <th>Kategorie</th>
        <th>Název</th>
        <th>Datum napsání knihy</th>
        <th>Popis</th>
        <th>Detail Knihy</th>
    </tr>
    {% for book in book_list %}
    <tr>
        <td><a href="{% url 'library:category_detail' book.category.id %}">{{ book.category }}</a></td>
        <td>{{ book.title }}</td>
        <td>{{ book.written_at }}</td>
        <td>{{ book.description }}</td>
        <td><a href="{% url 'library:book_detail' book.id %}">Detail knihy</a></td>
        {% if user.is_staff %}
        <td><a href="{% url 'library:book_update' book.id %}">Editovat</a></td>
        <td><a href="{% url 'library:book_delete' book.id%}">Smazat</a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% include "library/pagination_template.html" with objects=book_list %}
{% endblock content %}
