{% extends "library/layout.html" %}

{% block title %}
  Potvrďte smazání
{% endblock title %}

{% block content %}
<form method="POST" action="{% url 'library:book_delete' object.id %}">
    {% csrf_token %}
    <p>Opravdu chcete smazat "{{ object }}"?</p>
    <input type="submit" value="Smazat">
</form>  
{% endblock content %}
