{% extends "library/layout.html" %}

{% block title %}
{{book.title}}  
{% endblock title %}

{% block content %}
<h2>Název:</h2> <p>{{ book.title }}</p>
<h2>Popis:</h2> <p>{{ book.description }}</p>
<h2>Datum napsání knihy:</h2> <p>{{ book.written_at }}</p>
<h2>Kategorie:</h2> <p>{{ book.category }}</p>  
{% endblock content %}
