{% extends "library/layout.html" %}

{% block title %}Kategorie{% endblock title %}

{% block content %}

{% if user.is_staff %}
<a href="{% url 'library:category_create' %}">Vytvořit kategorii</a>
{% endif %}

<table>
    <tr>
        <th>Název</th>
    </tr>
    {% for category in category_list %}
    <tr>
        <td><a href="{% url 'library:category_detail' category.id%}">{{ category.title }}</a></td>
        {% if user.is_staff %}
        <td><a href="{% url 'library:category_update' category.id%}">Editovat</a></td>
        <td><a href="{% url 'library:category_delete' category.id %}">Smazat</a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% include "library/pagination_template.html" with objects=category_list %}
{% endblock content %}