<ul>
    <li><p>Nejmenší datum narození: {{authors_dates.min_date}}</p></li>
    <li><p>Největší datum narození: {{authors_dates.max_date}}</p></li>
    <li><p>Průměr dat narození: {{authors_dates.avg_date}}</p></li>
    <li><p>Nejmenší datum napsané knihy: {{books_dates.min_date}}</p></li>
    <li><p>Největší datum napsané knihy: {{books_dates.max_date}}</p></li>
</ul>
