{% extends "library/layout.html" %}

{% block title%}Hlavní stránka{% endblock %}
{% block content %}
<h1>Vítejte v rejstříku knih</h1>
<ul>
    <li>
        <a href="{% url 'library:book_list' %}">Knihy</a>
    </li>
    <li>
        <a href="{% url 'library:author_list' %}">Autoři</a>
    </li>
    <li>
        <a href="{% url 'library:category_list' %}">Kategorie</a>
    </li>
</ul>
  
{% endblock content %}
