<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Rejstřík knih{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Rejstřík knih</h1>
        <div id="logout"><a href="{% url 'library:logout' %}">Odhlásit se</a></div>
        <a href="{% url 'library:book_list' %}">Knihy</a>
        <a href="{% url 'library:author_list' %}">Autoři</a>
        <a href="{% url 'library:category_list' %}">Kategorie</a>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>