{% if form.errors%}
<p>You have entered wrong credentials. Please try again.</p>
{% endif %}
<form method="POST" action="{% url 'library:login' %}">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Login">
</form>

<a href="{% url 'library:register' %}">Register</a>